<nav class="menu">
    <a href="#" id="logo"> YOUR LOGO*</a>
    <div class="a">
    <ul>
        <li class="secciones-nav"><a href="#">HOME</a></li>
        <li class="secciones-nav"><a href="#">WORK</a></li>
        <li class="secciones-nav"><a href="#">SERVICE</a></li>
        <li class="secciones-nav"><a href="#">TEAM</a></li>
        <li class="secciones-nav"><a href="#">CONTACT</a></li>
        <li class="secciones-nav"><a href="#">BLOC</a></li>
        <li class="secciones-nav"><a href="#">ABOUT</a></li>
    </ul>
    <img src="./assets/menus.png" alt="" class="img-menu">
</div>
</nav>  