<section class="container-process">
   
    <div class="titles-process">
        <h1>OUR PROCESS</h1>
        <p id="subtitle-proc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla ab sit at optio cupiditate dignissimos fuga vel similique amet repellat!</p>
    </div>
    <ul>
        <li>
            <img class="proc-img" src="./assets/proc-brain.png" alt="">
            <h1>BRAINSTORM</h1>
            <div class="line-proc"></div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam enim blanditiis omnis eligendi labore
                reprehenderit, sit dignissimos saepe quod. Debitis.</p>
        </li>
        <li>
            <img class="proc-img" src="./assets/proc-plan.png" alt="">
            <h1>PLAN</h1>
            <div class="line-proc"></div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam enim blanditiis omnis eligendi labore
                reprehenderit, sit dignissimos saepe quod. Debitis.</p>
        </li>
        <li>
            <img class="proc-img" src="./assets/proc-des.png" alt="">
            <h1>DESING</h1>
            <div class="line-proc"></div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam enim blanditiis omnis eligendi labore
                reprehenderit, sit dignissimos saepe quod. Debitis.</p>
        </li>
        <li>
            <img class="proc-img" src="./assets/proc-code.png" alt="">
            <h1>CODE</h1>
            <div class="line-proc"></div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam enim blanditiis omnis eligendi labore
                reprehenderit, sit dignissimos saepe quod. Debitis.</p>
        </li>
    </ul>
    <img src="./assets/lapiz.png" alt="No disponilbe" class="img-btn-proc">
</section>