<section class="section-information">
    <div class="container-information">
        <div class="subcontainer-information">
            <div class="information">
                <h1>Web Design & Development</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem aliquid, quasi est modi consequuntur
                    voluptatum adipisci soluta labore asperiores voluptatibus consectetur quae corporis assumenda in
                    recusandae officiis culpa distinctio! Earum. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Aliquid soluta maxime non deserunt voluptate quia perferendis voluptatibus architecto mollitia
                    voluptates.</p><br>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem aliquid, quasi est modi consequuntur
                        voluptatum adipisci soluta labore asperiores voluptatibus consectetur quae corporis assumenda in
                        recusandae officiis culpa distinctio! Earum. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.s.</p>
            </div>
            <img class="inf-img-rigth" src="./assets/computer.png" alt="">
        </div>
    </div>
    <div class="container-information">
        <div class="subcontainer-information">
            <img class="inf-img-left" src="./assets/celular.png" alt="No disponible">
            <div class="information">
                <h1>Mobile Apps</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem aliquid, quasi est modi consequuntur
                    voluptatum adipisci soluta labore asperiores voluptatibus consectetur quae corporis assumenda in
                    recusandae officiis culpa distinctio! Earum. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Aliquid soluta maxime non deserunt voluptate quia perferendis voluptatibus architecto mollitia
                    voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsam dolorem, modi quae facilis eius.</p>
            </div>
        </div>
    </div>
    <div class="container-information">
        <div class="subcontainer-information">
            <div class="information">
                <h1>Search Engine Optimization</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem aliquid, quasi est modi consequuntur
                    voluptatum adipisci soluta labore asperiores voluptatibus consectetur quae corporis assumenda in
                    recusandae officiis culpa distinctio! Earum. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Aliquid soluta maxime non deserunt voluptate quia perferendis voluptatibus architecto mollitia
                    voluptates.</p>
                    
            </div>
            <img class="inf-img-rigth" src="./assets/busqueda.png" alt="No disponible">
        </div>
    </div>
    <div class="container-information">
        <div class="subcontainer-information">
            <img class="inf-img-left" src="./assets/parlante.png" alt="No disponible">
            <div class="information">
                <h1>Digital Marketing</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem aliquid, quasi est modi consequuntur
                    voluptatum adipisci soluta labore asperiores voluptatibus consectetur quae corporis assumenda in
                    recusandae officiis culpa distinctio! Earum. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Aliquid soluta maxime non deserunt voluptate quia perferendis voluptatibus architecto mollitia
                    voluptates. Lorem ipsum dolor sit amet consectetur, adipisicing elit. A doloremque dolorem pariatur nesciunt? A</p>
            </div>
        </div>
    </div>
</section>